@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    font-family: 'Lora';
}

html {
    scroll-behavior: smooth;
}

body {
    background: url(https://us.123rf.com/450wm/belchonock/belchonock1711/belchonock171101825/90496546-iconos-y-campo-en-el-fondo-concepto-de-agricultura-inteligente-y-tecnolog%C3%ADa-moderna.jpg?ver=6);
    background-size: cover;
}

/*HEADERS*/

header {
    background-color: #79ee6e;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
}

header img {
    max-height: 70px;
    border-radius: 10px;
}

header h1 {
    color: #008A1C;
  }

header .btn-volver {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #33b242;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    transition: 1s;
}

header .btn-volver:hover {
    background-color: #008A1C;
}

/*INFO*/

.info {
    height: 80vh;    
}

/*estaciones*/
.izquierda {
    float: left;
    max-width: 20%;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  img.derecha {
    float: right;
    max-width: 20%;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .textofotos{
    font-size:large;
    list-style-type: none;
    font-weight: 400;
    color: #000000;
    background: #ec6b2f;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px;
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 2px solid #eb4604;
    text-align: center;
  }
  .cultivos{
    margin-left: 20px;
    margin-top: 20px;
  }
  h2 {
    clear: both;
  }
  /*siembra*/
.siembra{
  border-radius: 20px;
  width: 40%;
  height: 40%;
  float: left;
}
.contsiembra{
  margin: 0 auto;
  text-align: center;
  width: 620px;
}
.textosiembra{
  float: right; 
  text-align:left;
  font-size:large;
  list-style-type: none;
  font-weight: 400;
  color: #000000;
  background: #ec6b2f;
  margin: 0 0 25px;
  overflow: hidden;
  padding: 20px;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  border: 2px solid #eb4604;
  text-align: center;
}
