/* 
PALETA DE COLORES
https://paletadecolores.online/verde/ 

LOGO
https://es.fiverr.com/logo-maker/customize/projects/60ba1d15ca1910000d0d7865/variations/60ba22b03260d4000be5f76e?brand_name=GRUPO%20VERDE&source=choose_variation&ref_ctx_id=&slogan=Agricultura%20sustentable&brief_id=11af8921-5e2a-4c00-b54e-9eaf171d91a2
*/
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  font-family: 'Lora';
}

html {
  scroll-behavior: smooth;
}

/*HEADER*/

header {
  background-color: #79ee6e;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
}

header h3 {
  color: #008A1C;
  display: none;
}

header img {
  max-height: 80px;
  border-radius: 10px;
  border: 1px solid #33b242;
}

header .btn-reg {
  text-decoration: none;
  background-color: #33b242;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  transition: 1s;
}
header .box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
}
header .box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow: 
    0 0.25em 0 0 black,
    0 0.5em 0 0 black;
}

header .btn-reg:hover {
  background-color: #008A1C;
}

/* SECCION PRINCIPAL */

#principal .btn-reg {
  text-decoration: none;
  background-color: #33b242;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  transition: 1s;
}

#principal .btn-reg:hover {
  background-color: #008A1C;
}

#principal .presentacion {
  display: grid;
  grid-template-columns: 70% 30%;
}

#principal .quienes {
  padding: 1em;
  border: 2px solid #33b242;
  justify-content: center;
}

#principal .quienes h1 {
  color: #008A1C;
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 2.5em;
}

#principal .quienes p {
  text-align: center;
  font-size: 20px;
  padding: 1em;
}

#principal .quienes .cont_a {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

#principal .consulta {
  padding: 1em;
  border: 2px solid #33b242;
  border-left: none;
}

#principal .cont-consulta h2 {
  color: #33b242;
  text-align: center;
  padding-bottom: 0.5em;
}

#principal .cont-formulario .email {
  padding: 3px;
  border: none;
  border-bottom: 1px solid #008A1C;
  max-width: 100%;
}

#principal .cont-formulario .texto {
  padding: 3px;
  border: 1px solid #008A1C;
  border-radius: 5px;
  max-width: 100%;
}

#principal .contbtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#principal .cont-formulario .btn-cons {
  border: #008A1C 1px solid;
  padding: 2px;
  border-radius: 5px;
  color: #008A1C;
  transition: 1s;
}

#principal .cont-formulario .btn-cons:hover {
  background-color: #008A1C;
  color: #fff;
}




#siembra {
  background-color: #98ff96;
  padding: 15px;
  justify-content: space-around;
  align-items: center;
}

#siembra h2 {
  text-align: center;
  color: #003400;
  margin-bottom: 20px;
}

#siembra .menu_estacion {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#siembra .estacion {
  display: flex;
  flex-direction: row;
  max-width: 25%;
  margin: 2px;
}

#siembra .estacion img {
  max-width: 100%;
  border: solid 2px #008A1C;
  border-radius: 10px;
  overflow: hidden;
  transition: 1s;
}

#siembra .estacion img:hover {
  transform: scale(115%);
}

#siembra .estacion a {
  text-decoration: none;
  font-size: 20px;
  color: #008A1C;
}


/*SMS*/

#msm {
  padding: 1em;
  border-top: 2px solid #33b242;
  border-bottom: 2px solid   #33b242;
}

#msm h2 {
  text-align: center;
  color: #003400;
  margin-bottom: 20px;
}

#msm .masetas {
  display: grid;
  grid-template-columns: 50% 50%
}

#msm p {
  text-align: justify;
  margin-bottom: 5px;
  font-size: 15px;
  padding-right: 1em;
  max-width: 100%;
}

#msm p a {
  text-decoration: none;
  color: #8F0065;
  transition: 1s;
  padding: 0 3px;
  border-radius: 5px;
}

#msm p a:hover {
  background-color: #98ff96;
}

#msm .ejmasetas {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#msm .ejmasetas .imgmaseta {
  display: flex;
  flex-direction: row;
  margin: 2px;
}

#msm .ejmasetas .imgmaseta img {
  max-width: 100%;
  border: solid 2px #008A1C;
  border-radius: 10px;
  overflow: hidden;
}


/*Sitios de Interes*/

#interes {
  padding: 1em;
}

#interes h3 {
  text-align: center;
  color: #003400;
  margin-bottom: 5px;
  }

#interes .sitios {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.sitios img {
  max-width: 100%;
  overflow: hidden;
  margin: 0.5em;
}


/*contacto*/

#contacto {
  align-items: center;
  height: auto;
  justify-content: center;
  padding: 20px;
  background-color: #008A1C;
}

#contacto .redes {
  display: flex;
  justify-content: center;
}

#contacto .redes i {
  font-size: 25px;
  color: #79ee6e;
  padding: 0 20px;
  transition: 1s;
}

#contacto .redes i:hover {
  transform: scale(125%);
}

/*footer*/

#footer {
  padding: 5px;
  background-color: #003400;
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 10px;
}

/*RESPONSIVE*/

@media screen and (max-width:1000px) {
  #msm .ejmasetas {
    flex-direction: column;
  }

}


@media screen and (max-width:800px) {
  #msm .masetas {
    display: flex;
    flex-direction: column;
  }

  #msm .ejmasetas {
    flex-direction: row;
  }

  #msm .ejmasetas .imgmaseta {
    margin-top: 10px;
  }

}

@media screen and (max-width:200px) {
  #principal .presentacion {
    display: flex;
    flex-direction: column;
  }






}
